<div class="container header">
  <div fxLayout="row" class="zero">
    <div fxFlex="5%">
      <div id="logo">
        <img src="assets/chuck-norris.png" />
      </div>
    </div>
    <div fxFlex="50%" fxFlexOffset="5%">
      <div class="navbar-brand">
        Chuck Norris Jokes
      </div>
    </div>
    <div fxFlex="40%" fxFlexOffset="5%" class="menu">
      <a mat-button [routerLink]="'/jokes'"> Jokes </a>
      <a mat-button [routerLink]="'/favourites'"> Favourites </a>
    </div>
  </div>
</div>
